* {
  font-family: 'Roboto', sans-serif;
}

body {
  align-items: center;
  background-color: #222222;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
        height: 100%;
        background-size: 50px 50px;
  display: flex;
  justify-content: center;
  height: 100vh;
  
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 550px;
  padding: 20px;
  width: 320px;
}

.form_login {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 400px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

.subtitle {
  color: #eee;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  text-decoration: none;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 1px solid #65657b;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
    width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
}

.placeholder {
  color: #65657b;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-30px) translateX(0px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
  color: #808097;
}

.input:focus~.placeholder {
  color: #ffffff;
}

.button {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
  transition-duration: 0.4;
}

.logbtn {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  padding: 5px;
  color: #eee;
  cursor: pointer;
  font-size: 12px;
  height: 30px;
  margin-top: 1px;
  text-align: center;
  width: 30%;
  transition-duration: 0.4;
  margin-right: 10px;
}

.button:active {
  background-color: #08d;
}
button:hover {
  background-color: #eee;
  color: #08d;
  border: 2px solid #08d;
}
.panel_header {
  background-color: #08d;
  border-radius: 12px;
  box-sizing: border-box;
  color: #eee;
  outline: 0;
  padding: 15px;
  width: 100%;
  position: relative;
  align-items: center;
  place-items: center;
}

ul {
  color: #eee;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  list-style-type: none;
      margin: 0;
      padding: 0;
  background: transparent;
  align-items: center;
}

li {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
}

/* Loader animation */
.lds-ellipsis {
  display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #eee;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}